<div class="container">
  <h2>Available drones</h2>

  <% droneList.forEach(drone => { %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Name: <%= drone.name %></h5>
      <p class="card-text">Propellers: <%= drone.propellers %></p>
      <p class="card-text">Speed: <%= drone.maxSpeed %></p>
      <a href="/drones/<%= drone._id %>/edit" class="btn btn-primary"
        >Edit Drone</a
      >
      <form
        action="/drones/<%= drone._id %>/delete"
        method="POST"
        class="d-inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% }) %>
</div>
